<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../main.css" />
    <link href="/dist/output.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../dist/footer.css">
</head>

<body class=" footer h-fit pb-46">
    <div class="w-[1200px] m-auto grid grid-cols-3">
        <div>
            <div class="font-medium my-2">Về chúng tôi</div>
            <div class="text-gray-700 text-sm">
                <div class="footer-text"><a href="#">Project này</a></div>
                <div class="footer-text"><a href="#">Thành viên</a></div>
            </div>

        </div>
        <div>
            <div class="font-medium my-2">Sản phẩm</div>
            <div class="text-gray-700 text-sm">
                <div class="footer-text"><a href="#">Giường</a></div>
                <div class="footer-text"><a href="#">Bàn</a></div>
                <div class="footer-text"><a href="#">Ghế</a></div>
                <div class="footer-text"><a href="#">Chăn ga gối</a></div>
            </div>
        </div>
        <div>
            <div class="font-medium my-2">Liên hệ</div>
            <div class="text-gray-700 text-sm">
                <div class="footer-text">Sđt: 090292xxxx</div>
                <div class="footer-text">Email: 2052xxxx@gm.uit.edu.vn</div>
                <div class="footer-text">Địa chỉ: trường đại học Công nghệ Thông tin</div>
                <div class="link flex gap-5 mt-2">
                    <a href="#"><img src="/icon/facebook.svg" alt="" height="30" width="30"></a>
                    <a href="#"><img src="/icon/youtube.svg" alt="" height="30" width="30"></a>
                    <a href="#"><img src="/icon/behance.svg" alt="" height="30" width="30"></a>
                    <a href="#"><img src="/icon/wordpress.svg" alt="" height="30" width="30"></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>