<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../main.css" />
    <link href="/dist/output.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="w-[1200px] h-16 m-auto flex items-center justify-between">
        <img height="64" width="64" src="/Alone Dolphin.png" alt="alone dolphin">
        <div class="flex items-center gap-10 cursor-pointer">
            <div class="h-fit">Trang chủ </div>
            <div class="h-fit">Giới thiệu</div>
            <div class="h-fit">Sản phẩm</div>
            <div class="h-fit">Liên hệ</div>
        </div>
        <div class="flex gap-6">
            <div class="text-gray-700 relative my-auto min-w-[250px]">
                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                    <button class="p-1 text-gray-400 focus:outline-none focus:shadow-outline">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 text-[#6B7280]">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </button>
                </span>
                <input type="search" class="
                w-full
                text-sm
                font-normal
                border
                pl-8
                pr-2
                h-8
                rounded-md
                bg-white
                text-gray-500
                focus:text-gray-900 focus:outline-none
              " placeholder="Tìm kiếm sản phẩm..." />
            </div>
            <a href="/profile" class="h-8 w-8">
                <img src="/icon/user-solid.svg" alt="" class="h-8 w-8">
            </a>
            <a href="/cart" class="h-8 w-8">
                <img src="/icon/cart-shopping-solid.svg" alt="" class="h-8 w-8">
            </a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>