<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../main.css" />
    <link href="/dist/output.css" rel="stylesheet">
    <link href="/dist/page_rooms.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/icon/themify-icons-font/themify-icons/themify-icons.css">
</head>

<body class="w-[1200px] m-auto">

    <!-- header -->
    <div class="header fixed left-0 right-0 top-0 z-20 h-16">
        <div class="w-[1200px] m-auto flex items-center justify-between">
            <img height="64" width="64" src="/Alone Dolphin.png" alt="alone dolphin">
            <div class="flex items-center gap-10 cursor-pointer">
                <div class="h-fit">Trang chủ </div>
                <div class="h-fit">Giới thiệu</div>
                <div class="h-fit">Sản phẩm</div>
                <div class="h-fit">Liên hệ</div>
            </div>
            <div class="flex gap-6">
                <div class="text-gray-700 relative my-auto min-w-[250px]">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <button class="p-1 text-gray-400 focus:outline-none focus:shadow-outline">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4 text-[#6B7280]">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </button>
                    </span>
                    <input type="search" class="
                    w-full
                    text-sm
                    font-normal
                    border
                    pl-8
                    pr-2
                    h-8
                    rounded-md
                    bg-white
                    text-gray-500
                    focus:text-gray-900 focus:outline-none
                  " placeholder="Tìm kiếm sản phẩm..." />
                </div>
                <a href="/profile" class="h-8 w-8">
                    <img src="/icon/user-solid.svg" alt="" class="h-8 w-8">
                </a>
                <a href="/cart" class="h-8 w-8">
                    <img src="/icon/cart-shopping-solid.svg" alt="" class="h-8 w-8">
                </a>
            </div>
        </div>
    </div>


    <!-- main -->
    <div class="main">
        <div class="nav-room">
            <p class="direction">
                <a href="#"><i>Trang chủ</i></a> / <a href="#"><i>PHÒNG KHÁCH - Living Room</i></a> / <span class="opacity-08">PHÒNG KHÁCH - Living Room</span>
            </p>
            <table>
                <tr>
                    <td><a href="#">COMBO PHÒNG KHÁCH</a></td>
                    <td><a href="#">SOFA</a></td>
                    <td><a href="#">GHẾ ĐÔN, GHẾ BĂNG</a></td>
                    <td><a href="#">KỆ, TỦ TV</a></td>
                </tr>
                <tr>
                    <td><a href="#">ĐỒNG HỒ</a></td>
                    <td><a href="#">TRANH ẢNH</a></td>
                    <td><a href="#">GỐI TRANG TRÍ</a></td>
                    <td><a href="#">ĐÈN SÀN</a></td>
                </tr>
                <tr>
                    <td><a href="#">KỆ, TỦ GIÀY</a></td>
                </tr>
            </table>
        </div>
        <div class="slider">
            <h1 class="text-center">PHÒNG KHÁCH - Living Room</h1>
            <img src="../assets/Living_Room_img/slider.webp" alt="">
        </div>
        
            <div class="filter">
                <div class="main-filter">
                    <div class="filter-block price-js">
                         <div class="filter-item price-filter">
                             <span class="title-filter ">
                                 Giá
                                 <i class="ti-plus"></i>
                             </span>
                             <ul class="price-choice choice">
                                <li>
                                    <input type="radio" name="price-choice"  id="1">
                                    <label for="1">Dưới 1 triệu</label>
                                </li>
                                <li>
                                    <input type="radio" name="price-choice" id="1-2">
                                    <label for="1-2">Từ 1 - 2 triệu</label>
                                </li>
                                <li>
                                    <input type="radio" name="price-choice" id="2-3">
                                    <label for="2-3">Từ 2 - 3 triệu</label>
                                </li>
                                <li>
                                    <input type="radio" name="price-choice" id="3-5">
                                    <label for="3-5">Từ 3 - 5 triệu</label>
                                </li>
                                <li>
                                    <input type="radio" name="price-choice" id="5">
                                    <label for="5">Lớn hơn 5 triệu</label>
                                </li>
                             </ul>
                         </div>
                    </div>
     
                    <div class="filter-block color-js">
                          <div class="filter-item">
                             <span class="title-filter">
                                 Màu sắc
                                 <i class="ti-plus"></i>
                             </span>
                             <ul class="color-choice choice">
                                <li>
                                    <input type="radio" name="filter-color" id="xanh">
                                    <label for="xanh">Xanh ciment</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="nau">
                                    <label for="nau">Nâu</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="trang">
                                    <label for="trang">Trắng</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="be">
                                    <label for="be">Be</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="xam">
                                    <label for="xam">Xám</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="den">
                                    <label for="den">Đen</label>
                                </li>
                                <li>
                                    <input type="radio" name="filter-color" id="do">
                                    <label for="do">Đỏ</label>
                                </li>
                             </ul>
                     </div>
                    </div>
     
                    <div class="filter-block type-js">
                         <div class="filter-item">
                             <span class="title-filter">
                                 Loại sản phẩm
                                 <i class="ti-plus"></i>
                             </span>
                             <ul class="type-choice choice">
                                <li>
                                    <input type="radio" name="categories" id="khac">
                                    <label for="khac">Khác</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="ke">
                                    <label for="ke">Kệ</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="sofa">
                                   <label for="sofa">Sofa</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="tranh">
                                    <label for="tranh">Tranh</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="desk">
                                    <label for="desk">Desk</label>
                                </li>

                                <li>
                                    <input type="radio" name="categories" id="ghe">
                                    <label for="ghe">Ghế</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="ban">
                                    <label for="ban">Bàn</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="den">
                                    <label for="den">Đèn</label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="categories" id="trangtri">
                                    <label for="trangtri">Trang trí</label>
                                </li>
                                
                             </ul>
                         </div>
                    </div>
                </div>


               <div class="sort">
                    <span class="amount-items">300 sản phẩm</span>
                    <select name="" id="" class="sort-by">
                        <option value="" selected>Sort by</option>
                        <option value="">Mới nhất</option>
                        <option value="">Giá tăng dần</option>
                        <option value="">Giá giảm dần</option>
                        <option value="">Tên: A - Z</option>
                        <option value="">Tên: Z - A</option>
                    </select>
               </div>
            </div>

            
<!-- grid items -->
            <div class="grid-container">
                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                       <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                       <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                       <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


                <div class="grid-item">
                    <a href="#"><img src="../assets/Living_Room_img/igm_living_room.webp" alt="img"></a>
                    <div class="text-items">
                        <a href="#"><h3 class="name-item">ABS</h3></a>
                        <p class="desc-item">Tranh 50*70cm</p>
                        <p class="price-item">590,000đ</p>
                    </div>
                </div>


            </div>
    </div>
    <script src="../javascript/page_rooms.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>